[submodule "vendor/tesseract"]
	path = vendor/tesseract
	url = https://github.com/onurtuncer/tesseract.git
[submodule "vendor/ros_industrial_cmake_boilerplate"]
	path = vendor/ros_industrial_cmake_boilerplate
	url = https://github.com/ros-industrial/ros_industrial_cmake_boilerplate.git
[submodule "vendor/opw_kinematics"]
	path = vendor/opw_kinematics
	url = https://github.com/Jmeyer1292/opw_kinematics.git
[submodule "vendor/boost_plugin_loader"]
	path = vendor/boost_plugin_loader
	url = https://github.com/tesseract-robotics/boost_plugin_loader.git
[submodule "vendor/pinocchio"]
	path = vendor/pinocchio
	url = https://github.com/onurtuncer/pinocchio.git
